<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="notifications">
        <div th:if="${successMessage}" class="alert-box alert-box-success">
            <span>&#x2714;</span>
            <span th:text="${successMessage}">Scenario executed successfully!</span>
        </div>
        <div th:if="${errorMessage}" class="alert-box alert-box-danger">
            <span>&#x2716;</span>
            <span th:text="${errorMessage}">Scenario execution failed!</span>
        </div>
    </div>
</body>
</html>
